@page
@model WebApp.Pages.Parametro.GridModel
@{
}


<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Parametros
        </div>
        <div class="card-body">


            <a class="btn btn-secondary" asp-page="Edit"><i class='bx bx-comment-add'></i></a>

            <div class="row">
                <div class="col-12">
                    <table id="GridView" class="table table-bordered table table-striped table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Codigo</th>
                                <th>Descripcion</th>
                                <th>Valor</th>
                                <th>Estado</th>
                     

                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.GridList)
                            {
                                <tr>
                                    <td>@item.IdParametro</td>
                                    <td>@item.Codigo</td>
                                    <td>@item.Descripcion</td>
                                    <td>@item.Valor</td>
                                    <td>@item.Estado</td>

                                    <td>

                                        <a class="btn btn-secondary" asp-page="Edit" asp-route-id="@item.IdParametro"><i class='bx bx-edit-alt'></i></a>
                                        <button type="button" class="btn btn-secondary" onclick="ParametroGrid.OnClickEliminar(@item.IdParametro)"><i class='bx bx-trash'></i></button>

                                    </td>



                                </tr>
                            }



                        </tbody>


                    </table>

                </div>
            </div>




        </div>
    </div>

</div>


@section Scripts {

    <script>

        var MensajeApp = "@Html.Raw(Model.Mensaje)";

    </script>


    <script defer src="~/App/Parametro/Grid.js"></script>


}